@import url("https://fonts.googleapis.com/css?family=Cairo");
body {
  background-image: linear-gradient(
    to right,
    rgb(222, 238, 245),
    rgb(255, 255, 255)
  );
}

.titleOne {
  font-family: "Cairo";
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  letter-spacing: 1px;
  line-height: 2;
}

h1 {
  background-image: url(https://media0.giphy.com/media/r2DZ7c7zrY1jO/giphy.gif?cid=ecf05e47us51co7vfjwpnnc3yzh6yugvvn3hkoytc2g114u6&rid=giphy.gif&ct=g;);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  margin: 10px 0;
}
/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #fff;
  transition: 0.35s ease-in-out;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
  margin: auto;
  width: 20%;
  text-align: center;
  margin-bottom: 10rem;
}

.white-mode:hover {
  background-color: #fff;
  color: #122;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .titleOne {
    font-family: "Cairo";
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: auto;
    letter-spacing: 1px;
    line-height: 2;
  }

  h1 {
    background-image: url(https://media0.giphy.com/media/r2DZ7c7zrY1jO/giphy.gif?cid=ecf05e47us51co7vfjwpnnc3yzh6yugvvn3hkoytc2g114u6&rid=giphy.gif&ct=g;);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 60px;
    margin: 10px 0;
  }
  .white-mode {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #122;
    border-radius: 3px;
    color: #fff;
    transition: 0.35s ease-in-out;
    left: 15px;
    bottom: 15px;
    font-family: "Montserrat";
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 10rem;
  }
}
